* {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  scroll-behavior: smooth;
  background: url(https://media0.giphy.com/media/DEP0WnU27gui6S3BOG/giphy.gif);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
}
